{% if compact == blank or compact == flase %}
  <div class="wishlist-item">
      <div class="wishlist-unselected">
          <a href="javascript:;">
              <i class="far fa-heart"></i>
          </a>
      </div>
      <div class="wishlist-selected wishlist-hidden">
          <a href="javascript:;">
              <i class="fas fa-heart"></i>
          </a>
      </div>
  </div>
  {% endif %}