<link rel="stylesheet" type="text/css" href="{{ 'flipbook.min.css' | asset_url }}">
<script src="{{ 'flipbook.min.js' | asset_url }}" defer></script>

<style>
  .flipbook-main-wrapper{
    z-index:999;
  }
</style>

<div style="max-width:48rem;margin-left:auto;margin-right:auto;margin-top:2rem;margin-bottom:2rem;">
  <div id="publitas-embed-buebu365mrv"></div><script data-cfasync="false" data-height="undefined" data-publication="https://view.publitas.com/7050d56b-d3bb-4431-bc85-adb6a5b9ec22/catalogue_winter-2024_web_en/page/2" data-publication-aspect-ratio="1.5234460196292257" data-responsive="true" data-width="undefined" data-wrapper-id="publitas-embed-buebu365mrv" publitas-embed src="https://view.publitas.com/embed.js" type="text/javascript"></script>
</div>

<script>

</script>

{% schema %}
  {
    "name": "Flipbook 1",
    "settings": []
  }
{% endschema %}