<style type="text/css">
  
  #shoe-size-container .title{
  	font-size:20px;
  	font-weight:bold;
  }
  
  #shoe-size-container{
  	font-size:16px;
  }
  
  #shoe-size-container .cc-accordion{
  	border:none;
  }
  
  #shoe-size-container .cc-accordion-item{
	border:none;
  }
  
  #shoes-guide-contact td{
  	text-align:center;
    border:none;
    padding:20px;
	vertical-align: middle;
  }
  .yellow_link {
  	color:#f1b600!important;
    cursor:pointer;
    text-decoration:underline;
  }
  
  #boot-diagram{
  	width:50%;
    float:left;
    text-align:center;
  }
  
  #boot-diagram img{
	max-width:350px;
  }
  
  #boot-diagram-points{
  	float:left;
    width:50%;
  }
  
  .boot-diagram-points{
  	margin:80px 0;
  }
   
  @media screen and (max-width: 900px) {
    #boot-diagram{
	  width:90%;
      float:none;
      text-align:center;
      clear:both;
      margin:auto;
    }
    
    #boot-diagram img{
	  max-width:270px;
    }
    
    #boot-diagram-points{
      float:none;
      width:100%;
      clear:both;
    }

    .boot-diagram-points{
      margin:20px 0;
    }    
  }
</style>

{% if shop.locale == 'en' %}
<div id="shoe-size-container" class="container cf cc-animate-init -in cc-animate-complete" style="margin-top:80px;">
   <div class="page-header cf" style="margin-bottom:40px;">
      <h1 class="majortitle">Shoes Size Guide</h1>
      <div>To make sure you get the right fit, Yellow invites you to use our sizing guide before buying.</div>
   </div>
   <p class="title">
      Not sure about which size you need?
   </p>
  <p>There are two ways to find the right size; Using a ruler and a simple sheet of paper, or, for more precision, using our printable foot-measuring scale. Once the measurement is found, refer to the size guides below. If you have any questions, <a href="/pages/contact-us">Yellow customer service</a> is always ready to help!</p>
   <p>Before measuring your feet, make sure you are wearing the correct thickness of socks you are planning to use for your new shoes! For example: go barefoot for sandals, but try thick, cozy socks for winter boots!</p>
   
  <p class="title" style="margin-top:40px;">
      <strong>Option 1 | Measure your feet</strong>
   </p>
   <div>
      <ul>
         <li>Lay a piece of blank paper on the floor and tape it to the ground. Stand up straight on top of the paper with your feet placed in the centre of the page. </li>
         <li>Using a pen, mark where the furthest point of your toe lands on the paper. repeat process with your other foot, as right and left foot may be different. </li>
         <li>Take a ruler and measure heel to toe length your marked for each foot (mm). </li>
         <li>Finally, just look at our chart below and see which size fits you the best.</li>
      </ul>
   </div>
   <div style="margin:20px 0;">
      <img src="https://cdn.shopify.com/s/files/1/1080/2420/files/measure-your-feet.jpg?v=1650818347" />
   </div>
   <p class="title">
      <strong>Option 2 | Print our foot measuring scale</strong>
   </p>
   <div>
      Using the sizing guide below, you can measure your foot size to help determine your shoe size. <br>
      Simply print it out by clicking on the link, and follow the instructions.
   </div>
   <div class="text-center" style="margin:40px 0;">
      <a target="_blank" href="https://cdn.shopify.com/s/files/1/1080/2420/files/GUIDE_POINTURES_EN_0804_VEC.pdf?v=1617894929" class="btn career-button">SIZING GUIDE</a>
   </div>
   <div style="margin:40px 0;">
      <hr>
   </div>
   <p class="title">
      How we measure our products
   </p>
   <p>
      On the product description of every items of our website, you will find lots of details, and, from those details, you will see that we added the measurements of boot shaft height, calf circumference and heel height for some items. We want to show you how we took those measurement to make sure you can find the right item for you without having to return what you’ve ordered!
   </p>
   <p>Measurement have been taken from size 6 boots and the result may vary slightly in some cases.</p> 
  
  <div style="clear:both;">&nbsp;</div>

  <div id="boot-diagram">
	  <img src="https://cdn.shopify.com/s/files/1/1080/2420/files/boot_diagram_v2.jpg?v=1652148863" />
  </div>  
  
  <div id="boot-diagram-points">
    <div class="boot-diagram-points">
    <p class="title">1. Calf circumference</p>
    <p>Measured around the fullest part of the boot.</p>
    </div>
    
    <div class="boot-diagram-points">
    <p class="title">2. Shaft height</p>
    <p>Measured from the bottom of the foot to the top of the boot.</p>
    </div>
    
    <div class="boot-diagram-points">
    <p class="title">3. Heel height</p>
    <p>Measured from the back of the heel to where it meets the boot upper.</p>  
    </div>            
  </div>
  

  <div style="clear:both;"></div>
  
	<p class="title">Find the right CALF for you</p>
    <p>Wrap a cloth tape measure around the fullest part of your calf to get your calf circumference.</p>

    <p>
      <span class="title">A. Wide calf (16" or more)</span> <br>
      Boots with functional laces, buckles or stretchy uppers are excellent choices for wider calves. Many boots have elastic goring that stretches to provide additional calf
circumference.
    </p>
	<p>
      <span class="title">B. Narrow calf (less than 13 ¾")</span><br>
	Some boots are cut for women with slimmer legs. Others feature adjustable or stretch fabrications that conform better to a slender leg. Whether your calves are wide or narrow, short boots worn with matching opaque tights are a great alternative to knee-high styles.
    </p>
  
   <div>
      <hr>
   </div>
  
  <p class="title">Find your size</p>
  <p>
    Now that you have your measurements, use them to determine which shoe size is best for you based on our table below! Keep in mind that half sizes may not be available for all styles. If your measurements are between two sizes, or if you find that that one foot is measuring longer than the other, always go with the bigger size!
 
  </p>
  <p>Note: size may vary depending on the styles and types of shoes.</p>
  
  <div style="margin:80px 0;">
  {% render 'shoes-size-guides' %}
  </div>
  
  <div>
    <p class="title">Still not sure what to order?</p>
    <p>
      No problem! Feel free to contact our <a class="yellow_link" href='/pages/contact-us'>customer service</a> for assistance! When you order from Yellow, your returns are always hassle free in stores! For more information, see our <a class="yellow_link" href="/pages/return-policy">return policy</a>.
    </p>
    <p class="title" style="margin-top: 40px;">Contact us</p>
    <p>
    Keep in mind that half sizes are not available in all styles. If your measurements are between two sizes, or you find one foot's measurement is larger than the other, always move up to the larger size.
    </p>
  </div>
  
  
  <div>
    <table id="shoes-guide-contact" style="margin:40px auto;">
      <tr>        
        <td><img src="https://cdn.shopify.com/s/files/1/1080/2420/files/icon_mail.jpg?v=1651423261"></td>
        <td><img src="https://cdn.shopify.com/s/files/1/1080/2420/files/icon_phone.jpg?v=1651423261"></td>
      </tr>
      <tr>
        <td><a href="mailto:serviceclient@yellow.qc.ca">serviceclient@yellow.qc.ca</a></td>
        <td><nobr>1-888-970-7056</nobr></td>
      </tr>      
    </table>
  </div>
</div>

{% else %}

<div id="shoe-size-container" class="container cf cc-animate-init -in cc-animate-complete" data-cc-animate="" style="margin-top:80px;">
   <div class="page-header cf" style="margin-bottom:40px;">
      <h1 class="majortitle">GUIDE DES POINTURES</h1>
      <div>Pour être sûr de commander la bonne pointure, Yellow vous invite à vous référer aux guides des pointures lors de vos achats.</div>
   </div>
   <p class="title">
      Vous n'êtes pas sûr de la pointure dont vous avez besoin ?
   </p>
   <p>Il y a deux façons de trouver la bonne taille : à l'aide d'une règle et d'une simple feuille de papier, ou, pour plus de précision, en utilisant notre échelle de mesure des pieds imprimable. Une fois la mesure trouvée, reportez-vous au guide des pointures ci-dessous. Si vous avez des questions, le service clientèle de Yellow est toujours prêt à vous aider !</p>
   <p>Avant de mesurer vos pieds, assurez-vous que vous portez des chaussettes de l'épaisseur correcte que vous prévoyez d'utiliser pour vos nouvelles chaussures ! Par exemple : allez pieds nus pour les sandales, mais essayez des chaussettes épaisses et confortables pour les bottes d'hiver !</p>
   
  <p class="title" style="margin-top:40px;">
      Option 1 | Mesurez vos pieds
   </p>
   <div>
      <ul>
         <li>Posez une feuille de papier vierge sur le sol et collez-la au sol. Tenez-vous droit sur le papier, les pieds placés au centre de la feuille. </li>
         <li>À l'aide d'un stylo, marquez l'endroit où le point le plus éloigné de votre orteil atterrit sur le papier. Répétez le processus avec votre autre pied, car le pied droit et le pied gauche peuvent être différents.</li>
         <li>Prenez une règle et mesurez la longueur du talon à l'orteil que vous avez marquée pour chaque pied (en mm). </li>
         <li>Enfin, regardez notre tableau ci-dessous et voyez quelle pointure vous convient le mieux.</li>
      </ul>
   </div>
   <div style="margin:20px 0;">
      <img src="https://cdn.shopify.com/s/files/1/1080/2420/files/measure-your-feet.jpg?v=1650818347" />
   </div>
   <p class="title">
      Option 2 | Imprimer notre échelle de mesure des pieds
   </p>
   <div>
      En utilisant le guide des pointures ci-dessous, vous pouvez mesurer la taille de votre pied pour vous aider à déterminer votre pointure.<br>
	  Il suffit de l'imprimer en cliquant sur le lien et de suivre les instructions. 
   </div>
   <div class="text-center" style="margin:40px 0;">
      <a target="_blank" href="https://cdn.shopify.com/s/files/1/1080/2420/files/GUIDE_POINTURES_FR_0804_VEC.pdf?v=1617894929" class="btn career-button">GUIDE DES POINTURES</a> 
   </div>
   <div style="margin:40px 0;">
      <hr>
   </div>
   <p class="title">
	Comment nous mesurons nos produits
   </p>
   <p>
      Sur la description de chaque article de notre site, vous trouverez de nombreux détails, et, à partir de ces détails, vous verrez que nous avons ajouté les mesures de la hauteur de la tige de la botte, de la circonférence du mollet et de la hauteur du talon pour les articles pertinents. Nous voulons vous montrer comment nous avons pris ces mesures afin que vous puissiez trouver le bon article pour vous sans avoir à retourner ce que vous avez commandé ! 
   </p>
   <p>
     Les mesures ont été prises à partir de bottes de pointure 6. Notez que ces mesures changent selon la pointure. 
  </p>
  
  
  <div style="clear:both;">&nbsp;</div>

  <div id="boot-diagram">
	  <img src="https://cdn.shopify.com/s/files/1/1080/2420/files/boot_diagram_v2.jpg?v=1652148863" />
  </div>  
  
  <div id="boot-diagram-points">
    <div class="boot-diagram-points">
    <p class="title">1. Circonférence du mollet</p>
    <p>Mesuré autour de la partie la plus large de la botte.</p>
    </div>
    
    <div class="boot-diagram-points">
    <p class="title">2. Hauteur de l'arbre</p>
    <p>Mesuré de la base du pied au sommet de la botte. </p>
    </div>
    
    <div class="boot-diagram-points">
    <p class="title">3. Hauteur du talon </p>
    <p>Mesurée de l'arrière du talon à l'endroit où il rejoint la tige de la botte.</p>  
    </div>            
  </div>    

  <div style="clear:both;"></div>
  
	<p class="title">Trouvez le mollet qui vous convient </p>
    <p>Enroulez un mètre ruban en tissu autour de la partie la plus large de votre mollet pour obtenir votre tour de mollet.</p>

    <p>
      <span class="title">Mollet large (16" ou plus)</span> <br>
      Les bottes avec des lacets fonctionnels, des boucles ou des tiges extensibles sont d'excellents choix pour les mollets plus larges. De nombreuses bottes ont une doublure élastique qui s'étire pour augmenter le tour de mollet et s’ajuster à votre morphologie. 
    </p>
	<p>
      <span class="title">B. Mollet étroit (moins de 13 ¾")</span><br>
	  Certaines bottes sont taillées pour les femmes aux jambes plus fines. D'autres présentent des tissus ajustables ou extensibles qui s'adaptent mieux à une jambe fine. Que vos mollets soient larges ou étroits, les bottes courtes portées avec des collants opaques assortis constituent une excellente alternative aux modèles à hauteur de genou.
    </p>
  
   <div>
      <hr>
   </div>
  
  <p class="title">Trouvez votre pointure</p>
  <p>
    Maintenant que vous avez vos mesures, utilisez-les pour déterminer la pointure qui vous convient le mieux à l'aide du tableau ci-dessous ! N'oubliez pas que les demi-pointures ne sont pas forcément disponibles pour tous les styles. Si vos mesures se situent entre deux tailles, ou si vous trouvez qu'un pied est plus long que l'autre, <strong>choisissez toujours la plus grande pointure</strong> ! 
    
  </p>
  <p>Remarque : la taille peut varier en fonction des styles et des types de chaussures. </p>
  
  <div style="margin:80px 0;">
  {% render 'shoes-size-guides' %}
  </div>
  
  <div>
    <p class="title">Vous ne savez toujours pas quoi commander ?</p>
    <p>
      Aucun problème ! N'hésitez pas à contacter notre <a class="yellow_link" href='/fr/pages/contact-us'>service clientèle</a> pour obtenir de l'aide. Lorsque vous commandez chez Yellow, vos retours sont toujours faciles en magasin ! Pour plus d'informations, consultez notre <a class="yellow_link" href='/fr/pages/return-policy'>politique de retour</a>. 
    </p>
    <p class="title" style="margin-top: 40px;">Contactez-nous</p>
    <p>
    N'oubliez pas que les demi-pointures ne sont pas disponibles dans tous les styles. Si vos mesures se situent entre deux tailles, ou si vous trouvez que la mesure d'un pied est plus grande que l'autre, passez toujours à la pointure supérieure. 
    </p>
<!--      -->
  </div>
  
  
  <div>
    <table id="shoes-guide-contact" style="margin:40px auto;">
      <tr>        
        <td><img src="https://cdn.shopify.com/s/files/1/1080/2420/files/icon_mail.jpg?v=1651423261"></td>
        <td><img src="https://cdn.shopify.com/s/files/1/1080/2420/files/icon_phone.jpg?v=1651423261"></td>
      </tr>
      <tr>
        <td><a href="mailto:serviceclient@yellow.qc.ca">serviceclient@yellow.qc.ca</a></td>
        <td><nobr>1-888-970-7056</nobr></td>
      </tr>      
    </table>
  </div>
</div>

{% endif %}
