.announcement-free--shipping {
  text-align: center;
  padding: .7rem;
}

.announcement-free--shipping__content__inner__title__text {
  margin: 0;
  font-size: .8rem;
  line-height: 1.3;
  font-weight: 600;
}

.progress-bar__heading {
  font-size: 16px !important;
  font-weight: 600;
}
.progress-bar__subheading {
  font-size: 16px;
  font-family: var(--body-font-family);
  font-weight: bold;
  line-height: 1.2 !important;
  text-transform: none;
  letter-spacing: normal;
  max-width:100%;
}
.progress-bar__subheading > span {
  display: inline-block;
}
.progress-bar__progress {
  --height: 4px;
  --bg-progress: #45851E;
  background: #d9d9d9;
  height: var(--height);
  border-radius: var(--height);
  margin: 25px 0 0;
  position: relative;
}
.progress-bar__progress:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  width: var(--percentage);
  background: var(--bg-progress);
  animation: progress-bar-width 1s linear;
  border-top-left-radius: var(--height);
  border-bottom-left-radius: var(--height);
  border-top-right-radius:50px;
  border-bottom-right-radius:50px;  
  /* clip-path: polygon(calc(100% - 10px) 0, 100% 50%, calc(100% - 10px) 100%, 0% 100%, 0% 0%); */
}
.progress-bar__progress.full-discount:after {
  border-radius: var(--height);
}
.progress-bar__body {
  position: relative;
}
.progress-bar__tooltip {
  --border-color: #aecc9d;
  position: absolute;
  min-width: max-content;
  top: -2px;
  left: calc(var(--left) );
  transform: translateX(-50%) translateY(-100%);
  padding: 4px 7px;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  z-index: 1;
  background: #fff;
  color: #000;
}
.progress-bar__tooltip:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: 8px solid var(--border-color);
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid transparent;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 100%);
}
.progress-bar__progress.full-discount + .progress-bar__tooltip {
  transform: translateX(-100%) translateY(-100%);
}
.progress-bar__label__list {
  display: flex;
  margin: 0;
}
.progress-bar__label__item {
  flex: 1 1 0px;
  text-align: center;
  font-size: 12px;
  white-space: nowrap;
}
.progress-bar__label__item > strong,
.progress-bar__label__item > span {
  line-height: 1.1;
  display: block;
}
.progress-bar__label__item > strong {
  padding-top: 10px;
}
.progress-bar__label__item > span {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding: 0 10px;
}
@keyframes progress-bar-width {
  from {
    width:0;
  }
  to {
    width: {{percentage}};
  }
}
.progress-bar__dot {
  --width: 12px;
  width: var(--width);
  height: var(--width);
  display: block;
  background: #d9d9d9;
  border-radius: var(--width);
  position: absolute;
  top: calc(var(--width) / -4);
  z-index: 1;
  margin-left: calc(var(--width) / -2);
}

.progress-bar__dot--amount {
  width: auto;
  height: 100%;
  top: auto;
  margin: 0;
  background: transparent;
  font-size: 14px;
  display: flex;
  align-items: center;
}
.progress-bar__dot--amount > span {
  display: block;
  height: 100%;
  transform: translateX(-50%);
  font-family: var(--font-family-body);
  font-weight: bold;
  text-transform: none;
  color: #fff;
  height: auto;
  line-height: 1;
  white-space: nowrap;
}

.progress-bar--gwp {
  background-color: #FCFBF7;
  border-bottom: solid .0625rem var(--brand-gray-light);
  --padding: var(--spacer-s) var(--spacer-m);
  padding:1rem;
}
.progress-bar--gwp .progress-bar__label__item {
  margin-top: 6px;
  font-weight: bold;
  text-transform: none;
  letter-spacing: normal;
  color: #bcbcbc;
}
.progress-bar--gwp .progress-bar__label__item.active {
  color: #45851E;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress-bar__progress-candycane-bg {
  -webkit-animation: progress-bar-stripes 1s linear infinite, progress-bar-width 1s linear;
  -o-animation: progress-bar-stripes 1s linear infinite, progress-bar-width 1s linear;
  animation: progress-bar-stripes 1s linear infinite, progress-bar-width 1s linear;
  background-image: -webkit-linear-gradient(45deg, #0000003d 25%, transparent 25%, transparent 50%, #0000003d 50%, #0000003d 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, #0000003d 25%, transparent 25%, transparent 50%, #0000003d 50%, #0000003d 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, #0000003d 25%, transparent 25%, transparent 50%, #0000003d 50%, #0000003d 75%, transparent 75%, transparent);
  background-size: 15px 15px;
  background-color: #A5C792;
  position: absolute;
  height: auto;
  top: -2px;
  right: auto;
  bottom: -2px;
  left: -2px;
  width: calc(var(--percentage) + 2px);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius:50px;
  border-bottom-right-radius:50px;
}
.progress-bar__progress.full-discount .progress-bar__progress-candycane-bg {
  border-radius: 50px;
  width: calc(var(--percentage) + 4px);
}
.progress-bar__divider--clip:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: var(--left);
  margin-left: -12px;
  width: 12px;
  display: block;
  z-index: 1;
  background: #d9d9d9;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 100% 50%, 0% 0%);
}

.progress-bar__divider:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: calc(var(--left) - 12px);
  width: 18px;
  background: transparent;
  z-index: 11;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 40 60' enable-background='new 0 0 40 60' xml:space='preserve'%3E%3Cpolygon points='0,60 10,60 40,30 10,0 0,0 30,30' fill='%23fcfbf7' /%3E%3C/svg%3E");
}

.progress-bar--amsm {
  padding-top: 15px;
}
.cart-line-item-list ~ .progress-bar--amsm {
  padding-top: 0;
}
