@media screen and (min-width: 901px) and and (max-width:1024px) {
.buttons-frame {
bottom: 45px;
right:  10px;
width:500px;
height: 82px;
}
}
@media screen and (max-width:1023px) {
.buttons-frame {
bottom: 45px;
right:  10px;
width:499px;
height: 82px;
}
}
@media screen and (max-width:1022px) {
.buttons-frame {
bottom: 45px;
right:  10px;
width:499px;
height: 82px;
}
}
@media screen and (max-width:1021px) {
.buttons-frame {
bottom: 45px;
right:  10px;
width:498px;
height: 82px;
}
}
@media screen and (max-width:1020px) {
.buttons-frame {
bottom: 45px;
right:  10px;
width:498px;
height: 82px;
}
}
@media screen and (max-width:1019px) {
.buttons-frame {
bottom: 45px;
right:  9px;
width:497px;
height: 81px;
}
}
@media screen and (max-width:1018px) {
.buttons-frame {
bottom: 45px;
right:  9px;
width:497px;
height: 81px;
}
}
@media screen and (max-width:1017px) {
.buttons-frame {
bottom: 45px;
right:  9px;
width:496px;
height: 81px;
}
}
@media screen and (max-width:1016px) {
.buttons-frame {
bottom: 45px;
right:  9px;
width:496px;
height: 81px;
}
}
@media screen and (max-width:1015px) {
.buttons-frame {
bottom: 45px;
right:  9px;
width:495px;
height: 81px;
}
}
@media screen and (max-width:1014px) {
.buttons-frame {
bottom: 45px;
right:  9px;
width:495px;
height: 81px;
}
}
@media screen and (max-width:1013px) {
.buttons-frame {
bottom: 45px;
right:  9px;
width:494px;
height: 81px;
}
}
@media screen and (max-width:1012px) {
.buttons-frame {
bottom: 45px;
right:  9px;
width:494px;
height: 81px;
}
}
@media screen and (max-width:1011px) {
.buttons-frame {
bottom: 45px;
right:  9px;
width:493px;
height: 81px;
}
}
@media screen and (max-width:1010px) {
.buttons-frame {
bottom: 45px;
right:  9px;
width:493px;
height: 81px;
}
}
@media screen and (max-width:1009px) {
.buttons-frame {
bottom: 45px;
right:  8px;
width:492px;
height: 80px;
}
}
@media screen and (max-width:1008px) {
.buttons-frame {
bottom: 45px;
right:  8px;
width:492px;
height: 80px;
}
}
@media screen and (max-width:1007px) {
.buttons-frame {
bottom: 45px;
right:  8px;
width:491px;
height: 80px;
}
}
@media screen and (max-width:1006px) {
.buttons-frame {
bottom: 45px;
right:  8px;
width:491px;
height: 80px;
}
}
@media screen and (max-width:1005px) {
.buttons-frame {
bottom: 45px;
right:  8px;
width:490px;
height: 80px;
}
}
@media screen and (max-width:1004px) {
.buttons-frame {
bottom: 45px;
right:  8px;
width:490px;
height: 80px;
}
}
@media screen and (max-width:1003px) {
.buttons-frame {
bottom: 45px;
right:  8px;
width:489px;
height: 80px;
}
}
@media screen and (max-width:1002px) {
.buttons-frame {
bottom: 45px;
right:  8px;
width:489px;
height: 80px;
}
}
@media screen and (max-width:1001px) {
.buttons-frame {
bottom: 45px;
right:  8px;
width:488px;
height: 80px;
}
}
@media screen and (max-width:1000px) {
.buttons-frame {
bottom: 45px;
right:  8px;
width:488px;
height: 80px;
}
}
@media screen and (max-width:999px) {
.buttons-frame {
bottom: 44px;
right:  7px;
width:487px;
height: 79px;
}
}
@media screen and (max-width:998px) {
.buttons-frame {
bottom: 44px;
right:  7px;
width:487px;
height: 79px;
}
}
@media screen and (max-width:997px) {
.buttons-frame {
bottom: 44px;
right:  7px;
width:486px;
height: 79px;
}
}
@media screen and (max-width:996px) {
.buttons-frame {
bottom: 44px;
right:  7px;
width:486px;
height: 79px;
}
}
@media screen and (max-width:995px) {
.buttons-frame {
bottom: 44px;
right:  7px;
width:485px;
height: 79px;
}
}
@media screen and (max-width:994px) {
.buttons-frame {
bottom: 44px;
right:  7px;
width:485px;
height: 79px;
}
}
@media screen and (max-width:993px) {
.buttons-frame {
bottom: 44px;
right:  7px;
width:484px;
height: 79px;
}
}
@media screen and (max-width:992px) {
.buttons-frame {
bottom: 44px;
right:  7px;
width:484px;
height: 79px;
}
}
@media screen and (max-width:991px) {
.buttons-frame {
bottom: 44px;
right:  7px;
width:483px;
height: 79px;
}
}
@media screen and (max-width:990px) {
.buttons-frame {
bottom: 44px;
right:  7px;
width:483px;
height: 79px;
}
}
@media screen and (max-width:989px) {
.buttons-frame {
bottom: 44px;
right:  6px;
width:482px;
height: 78px;
}
}
@media screen and (max-width:988px) {
.buttons-frame {
bottom: 44px;
right:  6px;
width:482px;
height: 78px;
}
}
@media screen and (max-width:987px) {
.buttons-frame {
bottom: 44px;
right:  6px;
width:481px;
height: 78px;
}
}
@media screen and (max-width:986px) {
.buttons-frame {
bottom: 44px;
right:  6px;
width:481px;
height: 78px;
}
}
@media screen and (max-width:985px) {
.buttons-frame {
bottom: 44px;
right:  6px;
width:480px;
height: 78px;
}
}
@media screen and (max-width:984px) {
.buttons-frame {
bottom: 44px;
right:  6px;
width:480px;
height: 78px;
}
}
@media screen and (max-width:983px) {
.buttons-frame {
bottom: 44px;
right:  6px;
width:479px;
height: 78px;
}
}
@media screen and (max-width:982px) {
.buttons-frame {
bottom: 44px;
right:  6px;
width:479px;
height: 78px;
}
}
@media screen and (max-width:981px) {
.buttons-frame {
bottom: 44px;
right:  6px;
width:478px;
height: 78px;
}
}
@media screen and (max-width:980px) {
.buttons-frame {
bottom: 44px;
right:  6px;
width:478px;
height: 78px;
}
}
@media screen and (max-width:979px) {
.buttons-frame {
bottom: 44px;
right:  5px;
width:477px;
height: 77px;
}
}
@media screen and (max-width:978px) {
.buttons-frame {
bottom: 44px;
right:  5px;
width:477px;
height: 77px;
}
}
@media screen and (max-width:977px) {
.buttons-frame {
bottom: 44px;
right:  5px;
width:476px;
height: 77px;
}
}
@media screen and (max-width:976px) {
.buttons-frame {
bottom: 44px;
right:  5px;
width:476px;
height: 77px;
}
}
@media screen and (max-width:975px) {
.buttons-frame {
bottom: 44px;
right:  5px;
width:475px;
height: 77px;
}
}
@media screen and (max-width:974px) {
.buttons-frame {
bottom: 44px;
right:  5px;
width:475px;
height: 77px;
}
}
@media screen and (max-width:973px) {
.buttons-frame {
bottom: 44px;
right:  5px;
width:474px;
height: 77px;
}
}
@media screen and (max-width:972px) {
.buttons-frame {
bottom: 44px;
right:  5px;
width:474px;
height: 77px;
}
}
@media screen and (max-width:971px) {
.buttons-frame {
bottom: 44px;
right:  5px;
width:473px;
height: 77px;
}
}
@media screen and (max-width:970px) {
.buttons-frame {
bottom: 44px;
right:  5px;
width:473px;
height: 77px;
}
}
@media screen and (max-width:969px) {
.buttons-frame {
bottom: 44px;
right:  4px;
width:472px;
height: 76px;
}
}
@media screen and (max-width:968px) {
.buttons-frame {
bottom: 44px;
right:  4px;
width:472px;
height: 76px;
}
}
@media screen and (max-width:967px) {
.buttons-frame {
bottom: 44px;
right:  4px;
width:471px;
height: 76px;
}
}
@media screen and (max-width:966px) {
.buttons-frame {
bottom: 44px;
right:  4px;
width:471px;
height: 76px;
}
}
@media screen and (max-width:965px) {
.buttons-frame {
bottom: 44px;
right:  4px;
width:470px;
height: 76px;
}
}
@media screen and (max-width:964px) {
.buttons-frame {
bottom: 44px;
right:  4px;
width:470px;
height: 76px;
}
}
@media screen and (max-width:963px) {
.buttons-frame {
bottom: 44px;
right:  4px;
width:469px;
height: 76px;
}
}
@media screen and (max-width:962px) {
.buttons-frame {
bottom: 44px;
right:  4px;
width:469px;
height: 76px;
}
}
@media screen and (max-width:961px) {
.buttons-frame {
bottom: 44px;
right:  4px;
width:468px;
height: 76px;
}
}
@media screen and (max-width:960px) {
.buttons-frame {
bottom: 44px;
right:  4px;
width:468px;
height: 76px;
}
}
@media screen and (max-width:959px) {
.buttons-frame {
bottom: 44px;
right:  3px;
width:467px;
height: 75px;
}
}
@media screen and (max-width:958px) {
.buttons-frame {
bottom: 44px;
right:  3px;
width:467px;
height: 75px;
}
}
@media screen and (max-width:957px) {
.buttons-frame {
bottom: 44px;
right:  3px;
width:466px;
height: 75px;
}
}
@media screen and (max-width:956px) {
.buttons-frame {
bottom: 44px;
right:  3px;
width:466px;
height: 75px;
}
}
@media screen and (max-width:955px) {
.buttons-frame {
bottom: 44px;
right:  3px;
width:465px;
height: 75px;
}
}
@media screen and (max-width:954px) {
.buttons-frame {
bottom: 44px;
right:  3px;
width:465px;
height: 75px;
}
}
@media screen and (max-width:953px) {
.buttons-frame {
bottom: 44px;
right:  3px;
width:464px;
height: 75px;
}
}
@media screen and (max-width:952px) {
.buttons-frame {
bottom: 44px;
right:  3px;
width:464px;
height: 75px;
}
}
@media screen and (max-width:951px) {
.buttons-frame {
bottom: 44px;
right:  3px;
width:463px;
height: 75px;
}
}
@media screen and (max-width:950px) {
.buttons-frame {
bottom: 44px;
right:  3px;
width:463px;
height: 75px;
}
}
@media screen and (max-width:949px) {
.buttons-frame {
bottom: 43px;
right:  2px;
width:462px;
height: 74px;
}
}
@media screen and (max-width:948px) {
.buttons-frame {
bottom: 43px;
right:  2px;
width:462px;
height: 74px;
}
}
@media screen and (max-width:947px) {
.buttons-frame {
bottom: 43px;
right:  2px;
width:461px;
height: 74px;
}
}
@media screen and (max-width:946px) {
.buttons-frame {
bottom: 43px;
right:  2px;
width:461px;
height: 74px;
}
}
@media screen and (max-width:945px) {
.buttons-frame {
bottom: 43px;
right:  2px;
width:460px;
height: 74px;
}
}
@media screen and (max-width:944px) {
.buttons-frame {
bottom: 43px;
right:  2px;
width:460px;
height: 74px;
}
}
@media screen and (max-width:943px) {
.buttons-frame {
bottom: 43px;
right:  2px;
width:459px;
height: 74px;
}
}
@media screen and (max-width:942px) {
.buttons-frame {
bottom: 43px;
right:  2px;
width:459px;
height: 74px;
}
}
@media screen and (max-width:941px) {
.buttons-frame {
bottom: 43px;
right:  2px;
width:458px;
height: 74px;
}
}
@media screen and (max-width:940px) {
.buttons-frame {
bottom: 43px;
right:  2px;
width:458px;
height: 74px;
}
}
@media screen and (max-width:939px) {
.buttons-frame {
bottom: 43px;
right:  1px;
width:457px;
height: 73px;
}
}
@media screen and (max-width:938px) {
.buttons-frame {
bottom: 43px;
right:  1px;
width:457px;
height: 73px;
}
}
@media screen and (max-width:937px) {
.buttons-frame {
bottom: 43px;
right:  1px;
width:456px;
height: 73px;
}
}
@media screen and (max-width:936px) {
.buttons-frame {
bottom: 43px;
right:  1px;
width:456px;
height: 73px;
}
}
@media screen and (max-width:935px) {
.buttons-frame {
bottom: 43px;
right:  1px;
width:455px;
height: 73px;
}
}
@media screen and (max-width:934px) {
.buttons-frame {
bottom: 43px;
right:  1px;
width:455px;
height: 73px;
}
}
@media screen and (max-width:933px) {
.buttons-frame {
bottom: 43px;
right:  1px;
width:454px;
height: 73px;
}
}
@media screen and (max-width:932px) {
.buttons-frame {
bottom: 35px;
right:  1px;
width:454px;
height: 73px;
}
}
@media screen and (max-width:931px) {
.buttons-frame {
bottom: 43px;
right:  1px;
width:453px;
height: 73px;
}
}
@media screen and (max-width:930px) {
.buttons-frame {
bottom: 43px;
right:  1px;
width:453px;
height: 73px;
}
}
@media screen and (max-width:929px) {
.buttons-frame {
bottom: 43px;
right:  0px;
width:452px;
height: 72px;
}
}
@media screen and (max-width:928px) {
.buttons-frame {
bottom: 43px;
right:  0px;
width:452px;
height: 72px;
}
}
@media screen and (max-width:927px) {
.buttons-frame {
bottom: 43px;
right:  0px;
width:451px;
height: 72px;
}
}
@media screen and (max-width:926px) {
.buttons-frame {
bottom: 43px;
right:  0px;
width:451px;
height: 72px;
}
}
@media screen and (max-width:925px) {
.buttons-frame {
bottom: 43px;
right:  0px;
width:450px;
height: 72px;
}
}
@media screen and (max-width:924px) {
.buttons-frame {
bottom: 43px;
right:  0px;
width:450px;
height: 72px;
}
}
@media screen and (max-width:923px) {
.buttons-frame {
bottom: 43px;
right:  0px;
width:449px;
height: 72px;
}
}
@media screen and (max-width:922px) {
.buttons-frame {
bottom: 43px;
right:  0px;
width:449px;
height: 72px;
}
}
@media screen and (max-width:921px) {
.buttons-frame {
bottom: 43px;
right:  0px;
width:448px;
height: 72px;
}
}
@media screen and (max-width:920px) {
.buttons-frame {
bottom: 43px;
right:  0px;
width:448px;
height: 72px;
}
}
@media screen and (max-width:919px) {
.buttons-frame {
bottom: 43px;
right:  0px;
width:447px;
height: 71px;
}
}
@media screen and (max-width:918px) {
.buttons-frame {
bottom: 43px;
right:  0px;
width:447px;
height: 71px;
}
}
@media screen and (max-width:917px) {
.buttons-frame {
bottom: 43px;
right:  0px;
width:446px;
height: 71px;
}
}
@media screen and (max-width:916px) {
.buttons-frame {
bottom: 43px;
right:  0px;
width:446px;
height: 71px;
}
}
@media screen and (max-width:915px) {
.buttons-frame {
bottom: 43px;
right:  0px;
width:445px;
height: 71px;
}
}
@media screen and (max-width:914px) {
.buttons-frame {
bottom: 43px;
right:  0px;
width:445px;
height: 71px;
}
}
@media screen and (max-width:913px) {
.buttons-frame {
bottom: 43px;
right:  0px;
width:444px;
height: 71px;
}
}
@media screen and (max-width:912px) {
.buttons-frame {
bottom: 43px;
right:  0px;
width:444px;
height: 71px;
}
}
@media screen and (max-width:911px) {
.buttons-frame {
bottom: 43px;
right:  0px;
width:443px;
height: 71px;
}
}
@media screen and (max-width:910px) {
.buttons-frame {
bottom: 43px;
right:  0px;
width:443px;
height: 71px;
}
}
@media screen and (max-width:909px) {
.buttons-frame {
bottom: 43px;
right:  0px;
width:442px;
height: 70px;
}
}
@media screen and (max-width:908px) {
.buttons-frame {
bottom: 43px;
right:  0px;
width:442px;
height: 70px;
}
}
@media screen and (max-width:907px) {
.buttons-frame {
bottom: 43px;
right:  0px;
width:441px;
height: 70px;
}
}
@media screen and (max-width:906px) {
.buttons-frame {
bottom: 43px;
right:  0px;
width:441px;
height: 70px;
}
}
@media screen and (max-width:905px) {
.buttons-frame {
bottom: 43px;
right:  0px;
width:440px;
height: 70px;
}
}
@media screen and (max-width:904px) {
.buttons-frame {
bottom: 43px;
right:  0px;
width:440px;
height: 70px;
}
}
@media screen and (max-width:903px) {
.buttons-frame {
bottom: 43px;
right:  0px;
width:439px;
height: 70px;
}
}
@media screen and (max-width:902px) {
.buttons-frame {
bottom: 43px;
right:  0px;
width:439px;
height: 70px;
}
}
@media screen and (max-width:901px) {
.buttons-frame {
bottom: 43px;
right:  0px;
width:438px;
height: 70px;
}
}
