@media screen and (max-width:320px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom:  43px;
width:320px;
height: 51px;
}
}
@media screen and (max-width:319px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom:  43px;
width:319px;
height: 50px;
}
}
@media screen and (max-width:318px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom:  43px;
width:318px;
height: 50px;
}
}
@media screen and (max-width:317px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom:  43px;
width:317px;
height: 50px;
}
}
@media screen and (max-width:316px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom:  43px;
width:316px;
height: 50px;
}
}
@media screen and (max-width:315px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom:  43px;
width:315px;
height: 50px;
}
}
@media screen and (max-width:314px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom:  43px;
width:314px;
height: 50px;
}
}
@media screen and (max-width:313px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom:  43px;
width:313px;
height: 50px;
}
}
@media screen and (max-width:312px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom:  43px;
width:312px;
height: 50px;
}
}
@media screen and (max-width:311px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom:  43px;
width:311px;
height: 50px;
}
}
@media screen and (max-width:310px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom:  43px;
width:310px;
height: 50px;
}
}
@media screen and (max-width:309px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom:  43px;
width:309px;
height: 49px;
}
}
@media screen and (max-width:308px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom:  43px;
width:308px;
height: 49px;
}
}
@media screen and (max-width:307px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom:  43px;
width:307px;
height: 49px;
}
}
@media screen and (max-width:306px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom:  43px;
width:306px;
height: 49px;
}
}
@media screen and (max-width:305px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom:  43px;
width:305px;
height: 49px;
}
}
@media screen and (max-width:304px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom:  43px;
width:304px;
height: 49px;
}
}
@media screen and (max-width:303px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom:  43px;
width:303px;
height: 49px;
}
}
@media screen and (max-width:302px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom:  43px;
width:302px;
height: 49px;
}
}
@media screen and (max-width:301px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 30px;
width:301px;
height: 49px;
}
}
@media screen and (max-width:268px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom:  30px;
width:268px;
height: 49px;
}
}
@media screen and (max-width:280px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom:  30px;
width:280px;
height: 49px;
}
}
