@media screen and (max-width:375px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 50px;
width:376px;
height: 51px;
}
}
@media screen and (max-width:374px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 45px;
width:375px;
height: 50px;
}
}
@media screen and (max-width:373px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 45px;
width:374px;
height: 50px;
}
}
@media screen and (max-width:372px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 45px;
width:373px;
height: 50px;
}
}
@media screen and (max-width:371px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 45px;
width:372px;
height: 50px;
}
}
@media screen and (max-width:370px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 45px;
width:371px;
height: 50px;
}
}
@media screen and (max-width:369px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 45px;
width:370px;
height: 49px;
}
}
@media screen and (max-width:368px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 45px;
width:369px;
height: 49px;
}
}
@media screen and (max-width:367px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 45px;
width:368px;
height: 49px;
}
}
@media screen and (max-width:366px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 45px;
width:367px;
height: 49px;
}
}
@media screen and (max-width:365px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 45px;
width:366px;
height: 49px;
}
}
@media screen and (max-width:364px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 45px;
width:365px;
height: 48px;
}
}
@media screen and (max-width:363px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 45px;
width:364px;
height: 48px;
}
}
@media screen and (max-width:362px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 45px;
width:363px;
height: 48px;
}
}
@media screen and (max-width:361px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 45px;
width:362px;
height: 48px;
}
}
@media screen and (max-width:360px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 45px;
width:361px;
height: 48px;
}
}
@media screen and (max-width:359px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 45px;
width:360px;
height: 47px;
}
}
@media screen and (max-width:358px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 45px;
width:359px;
height: 47px;
}
}
@media screen and (max-width:357px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 45px;
width:358px;
height: 47px;
}
}
@media screen and (max-width:356px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 45px;
width:357px;
height: 47px;
}
}
@media screen and (max-width:355px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 45px;
width:356px;
height: 47px;
}
}
@media screen and (max-width:354px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 45px;
width:355px;
height: 46px;
}
}
@media screen and (max-width:353px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 45px;
width:354px;
height: 46px;
}
}
@media screen and (max-width:352px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 45px;
width:353px;
height: 46px;
}
}
@media screen and (max-width:351px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 45px;
width:352px;
height: 46px;
}
}
@media screen and (max-width:350px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 45px;
width:351px;
height: 46px;
}
}
@media screen and (max-width:349px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 44px;
width:350px;
height: 45px;
}
}
@media screen and (max-width:348px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 44px;
width:349px;
height: 45px;
}
}
@media screen and (max-width:347px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 44px;
width:348px;
height: 45px;
}
}
@media screen and (max-width:346px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 44px;
width:347px;
height: 45px;
}
}
@media screen and (max-width:345px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 44px;
width:346px;
height: 45px;
}
}
@media screen and (max-width:344px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 44px;
width:345px;
height: 44px;
}
}
@media screen and (max-width:343px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 44px;
width:344px;
height: 44px;
}
}
@media screen and (max-width:342px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 44px;
width:343px;
height: 44px;
}
}
@media screen and (max-width:341px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 44px;
width:342px;
height: 44px;
}
}
@media screen and (max-width:340px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 44px;
width:341px;
height: 44px;
}
}
@media screen and (max-width:339px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 44px;
width:340px;
height: 43px;
}
}
@media screen and (max-width:338px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 44px;
width:339px;
height: 43px;
}
}
@media screen and (max-width:337px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 44px;
width:338px;
height: 43px;
}
}
@media screen and (max-width:336px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 44px;
width:337px;
height: 43px;
}
}
@media screen and (max-width:335px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 44px;
width:336px;
height: 43px;
}
}
@media screen and (max-width:334px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 44px;
width:335px;
height: 42px;
}
}
@media screen and (max-width:333px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 44px;
width:334px;
height: 42px;
}
}
@media screen and (max-width:332px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 44px;
width:333px;
height: 42px;
}
}
@media screen and (max-width:331px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 44px;
width:332px;
height: 42px;
}
}
@media screen and (max-width:330px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 44px;
width:331px;
height: 42px;
}
}
@media screen and (max-width:329px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 44px;
width:330px;
height: 41px;
}
}
@media screen and (max-width:328px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 44px;
width:329px;
height: 41px;
}
}
@media screen and (max-width:327px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 44px;
width:328px;
height: 41px;
}
}
@media screen and (max-width:326px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 44px;
width:327px;
height: 41px;
}
}
@media screen and (max-width:325px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 44px;
width:326px;
height: 41px;
}
}
@media screen and (max-width:324px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 44px;
width:325px;
height: 40px;
}
}
@media screen and (max-width:323px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 44px;
width:324px;
height: 40px;
}
}
@media screen and (max-width:322px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 44px;
width:323px;
height: 40px;
}
}
@media screen and (max-width:321px) {
.buttons-frame {
left: 50%;
transform:translateX(-50%);
bottom: 44px;
width:322px;
height: 40px;
}
}
