@media screen and (max-width:1280px) {
.buttons-frame {
bottom: 50px;
right:  55px;
width:514px;
height: 108px;
}
}
@media screen and (max-width:1279px) {
.buttons-frame {
bottom: 50px;
right:  54px;
width:513px;
height: 107px;
}
}
@media screen and (max-width:1278px) {
.buttons-frame {
bottom: 50px;
right:  54px;
width:513px;
height: 107px;
}
}
@media screen and (max-width:1277px) {
.buttons-frame {
bottom: 50px;
right:  54px;
width:512px;
height: 107px;
}
}
@media screen and (max-width:1276px) {
.buttons-frame {
bottom: 50px;
right:  54px;
width:512px;
height: 107px;
}
}
@media screen and (max-width:1275px) {
.buttons-frame {
bottom: 50px;
right:  54px;
width:511px;
height: 107px;
}
}
@media screen and (max-width:1274px) {
.buttons-frame {
bottom: 50px;
right:  54px;
width:511px;
height: 107px;
}
}
@media screen and (max-width:1273px) {
.buttons-frame {
bottom: 50px;
right:  54px;
width:510px;
height: 107px;
}
}
@media screen and (max-width:1272px) {
.buttons-frame {
bottom: 50px;
right:  54px;
width:510px;
height: 107px;
}
}
@media screen and (max-width:1271px) {
.buttons-frame {
bottom: 50px;
right:  54px;
width:509px;
height: 107px;
}
}
@media screen and (max-width:1270px) {
.buttons-frame {
bottom: 50px;
right:  54px;
width:509px;
height: 107px;
}
}
@media screen and (max-width:1269px) {
.buttons-frame {
bottom: 50px;
right:  53px;
width:508px;
height: 106px;
}
}
@media screen and (max-width:1268px) {
.buttons-frame {
bottom: 50px;
right:  53px;
width:508px;
height: 106px;
}
}
@media screen and (max-width:1267px) {
.buttons-frame {
bottom: 50px;
right:  53px;
width:507px;
height: 106px;
}
}
@media screen and (max-width:1266px) {
.buttons-frame {
bottom: 50px;
right:  53px;
width:507px;
height: 106px;
}
}
@media screen and (max-width:1265px) {
.buttons-frame {
bottom: 50px;
right:  53px;
width:506px;
height: 106px;
}
}
@media screen and (max-width:1264px) {
.buttons-frame {
bottom: 50px;
right:  53px;
width:506px;
height: 106px;
}
}
@media screen and (max-width:1263px) {
.buttons-frame {
bottom: 50px;
right:  53px;
width:505px;
height: 106px;
}
}
@media screen and (max-width:1262px) {
.buttons-frame {
bottom: 50px;
right:  53px;
width:505px;
height: 106px;
}
}
@media screen and (max-width:1261px) {
.buttons-frame {
bottom: 50px;
right:  53px;
width:504px;
height: 106px;
}
}
@media screen and (max-width:1260px) {
.buttons-frame {
bottom: 50px;
right:  53px;
width:504px;
height: 106px;
}
}
@media screen and (max-width:1259px) {
.buttons-frame {
bottom: 50px;
right:  52px;
width:503px;
height: 105px;
}
}
@media screen and (max-width:1258px) {
.buttons-frame {
bottom: 50px;
right:  52px;
width:503px;
height: 105px;
}
}
@media screen and (max-width:1257px) {
.buttons-frame {
bottom: 50px;
right:  52px;
width:502px;
height: 105px;
}
}
@media screen and (max-width:1256px) {
.buttons-frame {
bottom: 50px;
right:  52px;
width:502px;
height: 105px;
}
}
@media screen and (max-width:1255px) {
.buttons-frame {
bottom: 50px;
right:  52px;
width:501px;
height: 105px;
}
}
@media screen and (max-width:1254px) {
.buttons-frame {
bottom: 50px;
right:  52px;
width:501px;
height: 105px;
}
}
@media screen and (max-width:1253px) {
.buttons-frame {
bottom: 50px;
right:  52px;
width:500px;
height: 105px;
}
}
@media screen and (max-width:1252px) {
.buttons-frame {
bottom: 50px;
right:  52px;
width:500px;
height: 105px;
}
}
@media screen and (max-width:1251px) {
.buttons-frame {
bottom: 50px;
right:  52px;
width:499px;
height: 105px;
}
}
@media screen and (max-width:1250px) {
.buttons-frame {
bottom: 50px;
right:  52px;
width:499px;
height: 105px;
}
}
@media screen and (max-width:1249px) {
.buttons-frame {
bottom: 49px;
right:  51px;
width:498px;
height: 104px;
}
}
@media screen and (max-width:1248px) {
.buttons-frame {
bottom: 49px;
right:  51px;
width:498px;
height: 104px;
}
}
@media screen and (max-width:1247px) {
.buttons-frame {
bottom: 49px;
right:  51px;
width:497px;
height: 104px;
}
}
@media screen and (max-width:1246px) {
.buttons-frame {
bottom: 49px;
right:  51px;
width:497px;
height: 104px;
}
}
@media screen and (max-width:1245px) {
.buttons-frame {
bottom: 49px;
right:  51px;
width:496px;
height: 104px;
}
}
@media screen and (max-width:1244px) {
.buttons-frame {
bottom: 49px;
right:  51px;
width:496px;
height: 104px;
}
}
@media screen and (max-width:1243px) {
.buttons-frame {
bottom: 49px;
right:  51px;
width:495px;
height: 104px;
}
}
@media screen and (max-width:1242px) {
.buttons-frame {
bottom: 49px;
right:  51px;
width:495px;
height: 104px;
}
}
@media screen and (max-width:1241px) {
.buttons-frame {
bottom: 49px;
right:  51px;
width:494px;
height: 104px;
}
}
@media screen and (max-width:1240px) {
.buttons-frame {
bottom: 49px;
right:  51px;
width:494px;
height: 104px;
}
}
@media screen and (max-width:1239px) {
.buttons-frame {
bottom: 49px;
right:  50px;
width:493px;
height: 103px;
}
}
@media screen and (max-width:1238px) {
.buttons-frame {
bottom: 49px;
right:  50px;
width:493px;
height: 103px;
}
}
@media screen and (max-width:1237px) {
.buttons-frame {
bottom: 49px;
right:  50px;
width:492px;
height: 103px;
}
}
@media screen and (max-width:1236px) {
.buttons-frame {
bottom: 49px;
right:  50px;
width:492px;
height: 103px;
}
}
@media screen and (max-width:1235px) {
.buttons-frame {
bottom: 49px;
right:  50px;
width:491px;
height: 103px;
}
}
@media screen and (max-width:1234px) {
.buttons-frame {
bottom: 49px;
right:  50px;
width:491px;
height: 103px;
}
}
@media screen and (max-width:1233px) {
.buttons-frame {
bottom: 49px;
right:  50px;
width:490px;
height: 103px;
}
}
@media screen and (max-width:1232px) {
.buttons-frame {
bottom: 49px;
right:  50px;
width:490px;
height: 103px;
}
}
@media screen and (max-width:1231px) {
.buttons-frame {
bottom: 49px;
right:  50px;
width:489px;
height: 103px;
}
}
@media screen and (max-width:1230px) {
.buttons-frame {
bottom: 49px;
right:  50px;
width:489px;
height: 103px;
}
}
@media screen and (max-width:1229px) {
.buttons-frame {
bottom: 49px;
right:  49px;
width:488px;
height: 102px;
}
}
@media screen and (max-width:1228px) {
.buttons-frame {
bottom: 49px;
right:  49px;
width:488px;
height: 102px;
}
}
@media screen and (max-width:1227px) {
.buttons-frame {
bottom: 49px;
right:  49px;
width:487px;
height: 102px;
}
}
@media screen and (max-width:1226px) {
.buttons-frame {
bottom: 49px;
right:  49px;
width:487px;
height: 102px;
}
}
@media screen and (max-width:1225px) {
.buttons-frame {
bottom: 49px;
right:  49px;
width:486px;
height: 102px;
}
}
@media screen and (max-width:1224px) {
.buttons-frame {
bottom: 49px;
right:  49px;
width:486px;
height: 102px;
}
}
@media screen and (max-width:1223px) {
.buttons-frame {
bottom: 49px;
right:  49px;
width:485px;
height: 102px;
}
}
@media screen and (max-width:1222px) {
.buttons-frame {
bottom: 49px;
right:  49px;
width:485px;
height: 102px;
}
}
@media screen and (max-width:1221px) {
.buttons-frame {
bottom: 49px;
right:  49px;
width:484px;
height: 102px;
}
}
@media screen and (max-width:1220px) {
.buttons-frame {
bottom: 49px;
right:  49px;
width:484px;
height: 102px;
}
}
@media screen and (max-width:1219px) {
.buttons-frame {
bottom: 49px;
right:  48px;
width:483px;
height: 101px;
}
}
@media screen and (max-width:1218px) {
.buttons-frame {
bottom: 49px;
right:  48px;
width:483px;
height: 101px;
}
}
@media screen and (max-width:1217px) {
.buttons-frame {
bottom: 49px;
right:  48px;
width:482px;
height: 101px;
}
}
@media screen and (max-width:1216px) {
.buttons-frame {
bottom: 49px;
right:  48px;
width:482px;
height: 101px;
}
}
@media screen and (max-width:1215px) {
.buttons-frame {
bottom: 49px;
right:  48px;
width:481px;
height: 101px;
}
}
@media screen and (max-width:1214px) {
.buttons-frame {
bottom: 49px;
right:  48px;
width:481px;
height: 101px;
}
}
@media screen and (max-width:1213px) {
.buttons-frame {
bottom: 49px;
right:  48px;
width:480px;
height: 101px;
}
}
@media screen and (max-width:1212px) {
.buttons-frame {
bottom: 49px;
right:  48px;
width:480px;
height: 101px;
}
}
@media screen and (max-width:1211px) {
.buttons-frame {
bottom: 49px;
right:  48px;
width:479px;
height: 101px;
}
}
@media screen and (max-width:1210px) {
.buttons-frame {
bottom: 49px;
right:  48px;
width:479px;
height: 101px;
}
}
@media screen and (max-width:1209px) {
.buttons-frame {
bottom: 49px;
right:  47px;
width:478px;
height: 100px;
}
}
@media screen and (max-width:1208px) {
.buttons-frame {
bottom: 49px;
right:  47px;
width:478px;
height: 100px;
}
}
@media screen and (max-width:1207px) {
.buttons-frame {
bottom: 49px;
right:  47px;
width:477px;
height: 100px;
}
}
@media screen and (max-width:1206px) {
.buttons-frame {
bottom: 49px;
right:  47px;
width:477px;
height: 100px;
}
}
@media screen and (max-width:1205px) {
.buttons-frame {
bottom: 49px;
right:  47px;
width:476px;
height: 100px;
}
}
@media screen and (max-width:1204px) {
.buttons-frame {
bottom: 49px;
right:  47px;
width:476px;
height: 100px;
}
}
@media screen and (max-width:1203px) {
.buttons-frame {
bottom: 49px;
right:  47px;
width:475px;
height: 100px;
}
}
@media screen and (max-width:1202px) {
.buttons-frame {
bottom: 49px;
right:  47px;
width:475px;
height: 100px;
}
}
@media screen and (max-width:1201px) {
.buttons-frame {
bottom: 49px;
right:  47px;
width:474px;
height: 100px;
}
}
@media screen and (max-width:1200px) {
.buttons-frame {
bottom: 49px;
right:  47px;
width:474px;
height: 100px;
}
}
@media screen and (max-width:1199px) {
.buttons-frame {
bottom: 48px;
right:  46px;
width:473px;
height: 99px;
}
}
@media screen and (max-width:1198px) {
.buttons-frame {
bottom: 48px;
right:  46px;
width:473px;
height: 99px;
}
}
@media screen and (max-width:1197px) {
.buttons-frame {
bottom: 48px;
right:  46px;
width:472px;
height: 99px;
}
}
@media screen and (max-width:1196px) {
.buttons-frame {
bottom: 48px;
right:  46px;
width:472px;
height: 99px;
}
}
@media screen and (max-width:1195px) {
.buttons-frame {
bottom: 48px;
right:  46px;
width:471px;
height: 99px;
}
}
@media screen and (max-width:1194px) {
.buttons-frame {
bottom: 48px;
right:  46px;
width:471px;
height: 99px;
}
}
@media screen and (max-width:1193px) {
.buttons-frame {
bottom: 48px;
right:  46px;
width:470px;
height: 99px;
}
}
@media screen and (max-width:1192px) {
.buttons-frame {
bottom: 48px;
right:  46px;
width:470px;
height: 99px;
}
}
@media screen and (max-width:1191px) {
.buttons-frame {
bottom: 48px;
right:  46px;
width:469px;
height: 99px;
}
}
@media screen and (max-width:1190px) {
.buttons-frame {
bottom: 48px;
right:  46px;
width:469px;
height: 99px;
}
}
@media screen and (max-width:1189px) {
.buttons-frame {
bottom: 48px;
right:  45px;
width:468px;
height: 98px;
}
}
@media screen and (max-width:1188px) {
.buttons-frame {
bottom: 48px;
right:  45px;
width:468px;
height: 98px;
}
}
@media screen and (max-width:1187px) {
.buttons-frame {
bottom: 48px;
right:  45px;
width:467px;
height: 98px;
}
}
@media screen and (max-width:1186px) {
.buttons-frame {
bottom: 48px;
right:  45px;
width:467px;
height: 98px;
}
}
@media screen and (max-width:1185px) {
.buttons-frame {
bottom: 48px;
right:  45px;
width:466px;
height: 98px;
}
}
@media screen and (max-width:1184px) {
.buttons-frame {
bottom: 48px;
right:  45px;
width:466px;
height: 98px;
}
}
@media screen and (max-width:1183px) {
.buttons-frame {
bottom: 48px;
right:  45px;
width:465px;
height: 98px;
}
}
@media screen and (max-width:1182px) {
.buttons-frame {
bottom: 48px;
right:  45px;
width:465px;
height: 98px;
}
}
@media screen and (max-width:1181px) {
.buttons-frame {
bottom: 48px;
right:  45px;
width:464px;
height: 98px;
}
}
@media screen and (max-width:1180px) {
.buttons-frame {
bottom: 48px;
right:  45px;
width:464px;
height: 98px;
}
}
@media screen and (max-width:1179px) {
.buttons-frame {
bottom: 48px;
right:  44px;
width:463px;
height: 97px;
}
}
@media screen and (max-width:1178px) {
.buttons-frame {
bottom: 48px;
right:  44px;
width:463px;
height: 97px;
}
}
@media screen and (max-width:1177px) {
.buttons-frame {
bottom: 48px;
right:  44px;
width:462px;
height: 97px;
}
}
@media screen and (max-width:1176px) {
.buttons-frame {
bottom: 48px;
right:  44px;
width:462px;
height: 97px;
}
}
@media screen and (max-width:1175px) {
.buttons-frame {
bottom: 48px;
right:  44px;
width:461px;
height: 97px;
}
}
@media screen and (max-width:1174px) {
.buttons-frame {
bottom: 48px;
right:  44px;
width:461px;
height: 97px;
}
}
@media screen and (max-width:1173px) {
.buttons-frame {
bottom: 48px;
right:  44px;
width:460px;
height: 97px;
}
}
@media screen and (max-width:1172px) {
.buttons-frame {
bottom: 48px;
right:  44px;
width:460px;
height: 97px;
}
}
@media screen and (max-width:1171px) {
.buttons-frame {
bottom: 48px;
right:  44px;
width:459px;
height: 97px;
}
}
@media screen and (max-width:1170px) {
.buttons-frame {
bottom: 48px;
right:  44px;
width:459px;
height: 97px;
}
}
@media screen and (max-width:1169px) {
.buttons-frame {
bottom: 48px;
right:  43px;
width:458px;
height: 96px;
}
}
@media screen and (max-width:1168px) {
.buttons-frame {
bottom: 48px;
right:  43px;
width:458px;
height: 96px;
}
}
@media screen and (max-width:1167px) {
.buttons-frame {
bottom: 48px;
right:  43px;
width:457px;
height: 96px;
}
}
@media screen and (max-width:1166px) {
.buttons-frame {
bottom: 48px;
right:  43px;
width:457px;
height: 96px;
}
}
@media screen and (max-width:1165px) {
.buttons-frame {
bottom: 48px;
right:  43px;
width:456px;
height: 96px;
}
}
@media screen and (max-width:1164px) {
.buttons-frame {
bottom: 48px;
right:  43px;
width:456px;
height: 96px;
}
}
@media screen and (max-width:1163px) {
.buttons-frame {
bottom: 48px;
right:  43px;
width:455px;
height: 96px;
}
}
@media screen and (max-width:1162px) {
.buttons-frame {
bottom: 48px;
right:  43px;
width:455px;
height: 96px;
}
}
@media screen and (max-width:1161px) {
.buttons-frame {
bottom: 48px;
right:  43px;
width:454px;
height: 96px;
}
}
@media screen and (max-width:1160px) {
.buttons-frame {
bottom: 48px;
right:  43px;
width:454px;
height: 96px;
}
}
@media screen and (max-width:1159px) {
.buttons-frame {
bottom: 48px;
right:  42px;
width:453px;
height: 95px;
}
}
@media screen and (max-width:1158px) {
.buttons-frame {
bottom: 48px;
right:  42px;
width:453px;
height: 95px;
}
}
@media screen and (max-width:1157px) {
.buttons-frame {
bottom: 48px;
right:  42px;
width:452px;
height: 95px;
}
}
@media screen and (max-width:1156px) {
.buttons-frame {
bottom: 48px;
right:  42px;
width:452px;
height: 95px;
}
}
@media screen and (max-width:1155px) {
.buttons-frame {
bottom: 48px;
right:  42px;
width:451px;
height: 95px;
}
}
@media screen and (max-width:1154px) {
.buttons-frame {
bottom: 48px;
right:  42px;
width:451px;
height: 95px;
}
}
@media screen and (max-width:1153px) {
.buttons-frame {
bottom: 48px;
right:  42px;
width:450px;
height: 95px;
}
}
@media screen and (max-width:1152px) {
.buttons-frame {
bottom: 48px;
right:  42px;
width:450px;
height: 95px;
}
}
@media screen and (max-width:1151px) {
.buttons-frame {
bottom: 48px;
right:  42px;
width:449px;
height: 95px;
}
}
@media screen and (max-width:1150px) {
.buttons-frame {
bottom: 48px;
right:  42px;
width:449px;
height: 95px;
}
}
@media screen and (max-width:1149px) {
.buttons-frame {
bottom: 47px;
right:  41px;
width:448px;
height: 94px;
}
}
@media screen and (max-width:1148px) {
.buttons-frame {
bottom: 47px;
right:  41px;
width:448px;
height: 94px;
}
}
@media screen and (max-width:1147px) {
.buttons-frame {
bottom: 47px;
right:  41px;
width:447px;
height: 94px;
}
}
@media screen and (max-width:1146px) {
.buttons-frame {
bottom: 47px;
right:  41px;
width:447px;
height: 94px;
}
}
@media screen and (max-width:1145px) {
.buttons-frame {
bottom: 47px;
right:  41px;
width:446px;
height: 94px;
}
}
@media screen and (max-width:1144px) {
.buttons-frame {
bottom: 47px;
right:  41px;
width:446px;
height: 94px;
}
}
@media screen and (max-width:1143px) {
.buttons-frame {
bottom: 47px;
right:  41px;
width:445px;
height: 94px;
}
}
@media screen and (max-width:1142px) {
.buttons-frame {
bottom: 47px;
right:  41px;
width:445px;
height: 94px;
}
}
@media screen and (max-width:1141px) {
.buttons-frame {
bottom: 47px;
right:  41px;
width:444px;
height: 94px;
}
}
@media screen and (max-width:1140px) {
.buttons-frame {
bottom: 47px;
right:  41px;
width:444px;
height: 94px;
}
}
@media screen and (max-width:1139px) {
.buttons-frame {
bottom: 47px;
right:  40px;
width:443px;
height: 93px;
}
}
@media screen and (max-width:1138px) {
.buttons-frame {
bottom: 47px;
right:  40px;
width:443px;
height: 93px;
}
}
@media screen and (max-width:1137px) {
.buttons-frame {
bottom: 47px;
right:  40px;
width:442px;
height: 93px;
}
}
@media screen and (max-width:1136px) {
.buttons-frame {
bottom: 47px;
right:  40px;
width:442px;
height: 93px;
}
}
@media screen and (max-width:1135px) {
.buttons-frame {
bottom: 47px;
right:  40px;
width:441px;
height: 93px;
}
}
@media screen and (max-width:1134px) {
.buttons-frame {
bottom: 47px;
right:  40px;
width:441px;
height: 93px;
}
}
@media screen and (max-width:1133px) {
.buttons-frame {
bottom: 47px;
right:  40px;
width:440px;
height: 93px;
}
}
@media screen and (max-width:1132px) {
.buttons-frame {
bottom: 47px;
right:  40px;
width:440px;
height: 93px;
}
}
@media screen and (max-width:1131px) {
.buttons-frame {
bottom: 47px;
right:  40px;
width:439px;
height: 93px;
}
}
@media screen and (max-width:1130px) {
.buttons-frame {
bottom: 47px;
right:  40px;
width:439px;
height: 93px;
}
}
@media screen and (max-width:1129px) {
.buttons-frame {
bottom: 47px;
right:  39px;
width:438px;
height: 92px;
}
}
@media screen and (max-width:1128px) {
.buttons-frame {
bottom: 47px;
right:  39px;
width:438px;
height: 92px;
}
}
@media screen and (max-width:1127px) {
.buttons-frame {
bottom: 47px;
right:  39px;
width:437px;
height: 92px;
}
}
@media screen and (max-width:1126px) {
.buttons-frame {
bottom: 47px;
right:  39px;
width:437px;
height: 92px;
}
}
@media screen and (max-width:1125px) {
.buttons-frame {
bottom: 47px;
right:  39px;
width:436px;
height: 92px;
}
}
@media screen and (max-width:1124px) {
.buttons-frame {
bottom: 47px;
right:  39px;
width:436px;
height: 92px;
}
}
@media screen and (max-width:1123px) {
.buttons-frame {
bottom: 47px;
right:  39px;
width:435px;
height: 92px;
}
}
@media screen and (max-width:1122px) {
.buttons-frame {
bottom: 47px;
right:  39px;
width:435px;
height: 92px;
}
}
@media screen and (max-width:1121px) {
.buttons-frame {
bottom: 47px;
right:  39px;
width:434px;
height: 92px;
}
}
@media screen and (max-width:1120px) {
.buttons-frame {
bottom: 47px;
right:  39px;
width:434px;
height: 92px;
}
}
@media screen and (max-width:1119px) {
.buttons-frame {
bottom: 47px;
right:  38px;
width:433px;
height: 91px;
}
}
@media screen and (max-width:1118px) {
.buttons-frame {
bottom: 47px;
right:  38px;
width:433px;
height: 91px;
}
}
@media screen and (max-width:1117px) {
.buttons-frame {
bottom: 47px;
right:  38px;
width:432px;
height: 91px;
}
}
@media screen and (max-width:1116px) {
.buttons-frame {
bottom: 47px;
right:  38px;
width:432px;
height: 91px;
}
}
@media screen and (max-width:1115px) {
.buttons-frame {
bottom: 47px;
right:  38px;
width:431px;
height: 91px;
}
}
@media screen and (max-width:1114px) {
.buttons-frame {
bottom: 47px;
right:  38px;
width:431px;
height: 91px;
}
}
@media screen and (max-width:1113px) {
.buttons-frame {
bottom: 47px;
right:  38px;
width:430px;
height: 91px;
}
}
@media screen and (max-width:1112px) {
.buttons-frame {
bottom: 47px;
right:  38px;
width:430px;
height: 91px;
}
}
@media screen and (max-width:1111px) {
.buttons-frame {
bottom: 47px;
right:  38px;
width:429px;
height: 91px;
}
}
@media screen and (max-width:1110px) {
.buttons-frame {
bottom: 47px;
right:  38px;
width:429px;
height: 91px;
}
}
@media screen and (max-width:1109px) {
.buttons-frame {
bottom: 47px;
right:  37px;
width:428px;
height: 90px;
}
}
@media screen and (max-width:1108px) {
.buttons-frame {
bottom: 47px;
right:  37px;
width:428px;
height: 90px;
}
}
@media screen and (max-width:1107px) {
.buttons-frame {
bottom: 47px;
right:  37px;
width:427px;
height: 90px;
}
}
@media screen and (max-width:1106px) {
.buttons-frame {
bottom: 47px;
right:  37px;
width:427px;
height: 90px;
}
}
@media screen and (max-width:1105px) {
.buttons-frame {
bottom: 47px;
right:  37px;
width:426px;
height: 90px;
}
}
@media screen and (max-width:1104px) {
.buttons-frame {
bottom: 47px;
right:  37px;
width:426px;
height: 90px;
}
}
@media screen and (max-width:1103px) {
.buttons-frame {
bottom: 47px;
right:  37px;
width:425px;
height: 90px;
}
}
@media screen and (max-width:1102px) {
.buttons-frame {
bottom: 47px;
right:  37px;
width:425px;
height: 90px;
}
}
@media screen and (max-width:1101px) {
.buttons-frame {
bottom: 47px;
right:  37px;
width:424px;
height: 90px;
}
}
@media screen and (max-width:1100px) {
.buttons-frame {
bottom: 47px;
right:  37px;
width:424px;
height: 90px;
}
}
@media screen and (max-width:1099px) {
.buttons-frame {
bottom: 46px;
right:  36px;
width:423px;
height: 89px;
}
}
@media screen and (max-width:1098px) {
.buttons-frame {
bottom: 46px;
right:  36px;
width:423px;
height: 89px;
}
}
@media screen and (max-width:1097px) {
.buttons-frame {
bottom: 46px;
right:  36px;
width:422px;
height: 89px;
}
}
@media screen and (max-width:1096px) {
.buttons-frame {
bottom: 46px;
right:  36px;
width:422px;
height: 89px;
}
}
@media screen and (max-width:1095px) {
.buttons-frame {
bottom: 46px;
right:  36px;
width:421px;
height: 89px;
}
}
@media screen and (max-width:1094px) {
.buttons-frame {
bottom: 46px;
right:  36px;
width:421px;
height: 89px;
}
}
@media screen and (max-width:1093px) {
.buttons-frame {
bottom: 46px;
right:  36px;
width:420px;
height: 89px;
}
}
@media screen and (max-width:1092px) {
.buttons-frame {
bottom: 46px;
right:  36px;
width:420px;
height: 89px;
}
}
@media screen and (max-width:1091px) {
.buttons-frame {
bottom: 46px;
right:  36px;
width:419px;
height: 89px;
}
}
@media screen and (max-width:1090px) {
.buttons-frame {
bottom: 46px;
right:  36px;
width:419px;
height: 89px;
}
}
@media screen and (max-width:1089px) {
.buttons-frame {
bottom: 46px;
right:  35px;
width:418px;
height: 88px;
}
}
@media screen and (max-width:1088px) {
.buttons-frame {
bottom: 46px;
right:  35px;
width:418px;
height: 88px;
}
}
@media screen and (max-width:1087px) {
.buttons-frame {
bottom: 46px;
right:  35px;
width:417px;
height: 88px;
}
}
@media screen and (max-width:1086px) {
.buttons-frame {
bottom: 46px;
right:  35px;
width:417px;
height: 88px;
}
}
@media screen and (max-width:1085px) {
.buttons-frame {
bottom: 46px;
right:  35px;
width:416px;
height: 88px;
}
}
@media screen and (max-width:1084px) {
.buttons-frame {
bottom: 46px;
right:  35px;
width:416px;
height: 88px;
}
}
@media screen and (max-width:1083px) {
.buttons-frame {
bottom: 46px;
right:  35px;
width:415px;
height: 88px;
}
}
@media screen and (max-width:1082px) {
.buttons-frame {
bottom: 46px;
right:  35px;
width:415px;
height: 88px;
}
}
@media screen and (max-width:1081px) {
.buttons-frame {
bottom: 46px;
right:  35px;
width:414px;
height: 88px;
}
}
@media screen and (max-width:1080px) {
.buttons-frame {
bottom: 46px;
right:  35px;
width:414px;
height: 88px;
}
}
@media screen and (max-width:1079px) {
.buttons-frame {
bottom: 46px;
right:  34px;
width:413px;
height: 87px;
}
}
@media screen and (max-width:1078px) {
.buttons-frame {
bottom: 46px;
right:  34px;
width:413px;
height: 87px;
}
}
@media screen and (max-width:1077px) {
.buttons-frame {
bottom: 46px;
right:  34px;
width:412px;
height: 87px;
}
}
@media screen and (max-width:1076px) {
.buttons-frame {
bottom: 46px;
right:  34px;
width:412px;
height: 87px;
}
}
@media screen and (max-width:1075px) {
.buttons-frame {
bottom: 46px;
right:  34px;
width:411px;
height: 87px;
}
}
@media screen and (max-width:1074px) {
.buttons-frame {
bottom: 46px;
right:  34px;
width:411px;
height: 87px;
}
}
@media screen and (max-width:1073px) {
.buttons-frame {
bottom: 46px;
right:  34px;
width:410px;
height: 87px;
}
}
@media screen and (max-width:1072px) {
.buttons-frame {
bottom: 46px;
right:  34px;
width:410px;
height: 87px;
}
}
@media screen and (max-width:1071px) {
.buttons-frame {
bottom: 46px;
right:  34px;
width:409px;
height: 87px;
}
}
@media screen and (max-width:1070px) {
.buttons-frame {
bottom: 46px;
right:  34px;
width:409px;
height: 87px;
}
}
@media screen and (max-width:1069px) {
.buttons-frame {
bottom: 46px;
right:  33px;
width:408px;
height: 86px;
}
}
@media screen and (max-width:1068px) {
.buttons-frame {
bottom: 46px;
right:  33px;
width:408px;
height: 86px;
}
}
@media screen and (max-width:1067px) {
.buttons-frame {
bottom: 46px;
right:  33px;
width:407px;
height: 86px;
}
}
@media screen and (max-width:1066px) {
.buttons-frame {
bottom: 46px;
right:  33px;
width:407px;
height: 86px;
}
}
@media screen and (max-width:1065px) {
.buttons-frame {
bottom: 46px;
right:  33px;
width:406px;
height: 86px;
}
}
@media screen and (max-width:1064px) {
.buttons-frame {
bottom: 46px;
right:  33px;
width:406px;
height: 86px;
}
}
@media screen and (max-width:1063px) {
.buttons-frame {
bottom: 46px;
right:  33px;
width:405px;
height: 86px;
}
}
@media screen and (max-width:1062px) {
.buttons-frame {
bottom: 46px;
right:  33px;
width:405px;
height: 86px;
}
}
@media screen and (max-width:1061px) {
.buttons-frame {
bottom: 46px;
right:  33px;
width:404px;
height: 86px;
}
}
@media screen and (max-width:1060px) {
.buttons-frame {
bottom: 46px;
right:  33px;
width:404px;
height: 86px;
}
}
@media screen and (max-width:1059px) {
.buttons-frame {
bottom: 46px;
right:  32px;
width:403px;
height: 85px;
}
}
@media screen and (max-width:1058px) {
.buttons-frame {
bottom: 46px;
right:  32px;
width:403px;
height: 85px;
}
}
@media screen and (max-width:1057px) {
.buttons-frame {
bottom: 46px;
right:  32px;
width:402px;
height: 85px;
}
}
@media screen and (max-width:1056px) {
.buttons-frame {
bottom: 46px;
right:  32px;
width:402px;
height: 85px;
}
}
@media screen and (max-width:1055px) {
.buttons-frame {
bottom: 46px;
right:  32px;
width:401px;
height: 85px;
}
}
@media screen and (max-width:1054px) {
.buttons-frame {
bottom: 46px;
right:  32px;
width:401px;
height: 85px;
}
}
@media screen and (max-width:1053px) {
.buttons-frame {
bottom: 46px;
right:  32px;
width:400px;
height: 85px;
}
}
@media screen and (max-width:1052px) {
.buttons-frame {
bottom: 46px;
right:  32px;
width:400px;
height: 85px;
}
}
@media screen and (max-width:1051px) {
.buttons-frame {
bottom: 46px;
right:  32px;
width:399px;
height: 85px;
}
}
@media screen and (max-width:1050px) {
.buttons-frame {
bottom: 46px;
right:  32px;
width:399px;
height: 85px;
}
}
@media screen and (max-width:1049px) {
.buttons-frame {
bottom: 45px;
right:  31px;
width:398px;
height: 84px;
}
}
@media screen and (max-width:1048px) {
.buttons-frame {
bottom: 45px;
right:  31px;
width:398px;
height: 84px;
}
}
@media screen and (max-width:1047px) {
.buttons-frame {
bottom: 45px;
right:  31px;
width:397px;
height: 84px;
}
}
@media screen and (max-width:1046px) {
.buttons-frame {
bottom: 45px;
right:  31px;
width:397px;
height: 84px;
}
}
@media screen and (max-width:1045px) {
.buttons-frame {
bottom: 45px;
right:  31px;
width:396px;
height: 84px;
}
}
@media screen and (max-width:1044px) {
.buttons-frame {
bottom: 45px;
right:  31px;
width:396px;
height: 84px;
}
}
@media screen and (max-width:1043px) {
.buttons-frame {
bottom: 45px;
right:  31px;
width:395px;
height: 84px;
}
}
@media screen and (max-width:1042px) {
.buttons-frame {
bottom: 45px;
right:  31px;
width:395px;
height: 84px;
}
}
@media screen and (max-width:1041px) {
.buttons-frame {
bottom: 45px;
right:  31px;
width:394px;
height: 84px;
}
}
@media screen and (max-width:1040px) {
.buttons-frame {
bottom: 45px;
right:  31px;
width:394px;
height: 84px;
}
}
@media screen and (max-width:1039px) {
.buttons-frame {
bottom: 45px;
right:  30px;
width:393px;
height: 83px;
}
}
@media screen and (max-width:1038px) {
.buttons-frame {
bottom: 45px;
right:  30px;
width:393px;
height: 83px;
}
}
@media screen and (max-width:1037px) {
.buttons-frame {
bottom: 45px;
right:  30px;
width:392px;
height: 83px;
}
}
@media screen and (max-width:1036px) {
.buttons-frame {
bottom: 45px;
right:  30px;
width:392px;
height: 83px;
}
}
@media screen and (max-width:1035px) {
.buttons-frame {
bottom: 45px;
right:  30px;
width:391px;
height: 83px;
}
}
@media screen and (max-width:1034px) {
.buttons-frame {
bottom: 45px;
right:  30px;
width:391px;
height: 83px;
}
}
@media screen and (max-width:1033px) {
.buttons-frame {
bottom: 45px;
right:  30px;
width:390px;
height: 83px;
}
}
@media screen and (max-width:1032px) {
.buttons-frame {
bottom: 45px;
right:  30px;
width:390px;
height: 83px;
}
}
@media screen and (max-width:1031px) {
.buttons-frame {
bottom: 45px;
right:  30px;
width:389px;
height: 83px;
}
}
@media screen and (max-width:1030px) {
.buttons-frame {
bottom: 45px;
right:  30px;
width:389px;
height: 83px;
}
}
@media screen and (max-width:1029px) {
.buttons-frame {
bottom: 45px;
right:  29px;
width:388px;
height: 82px;
}
}
@media screen and (max-width:1028px) {
.buttons-frame {
bottom: 45px;
right:  29px;
width:388px;
height: 82px;
}
}
@media screen and (max-width:1027px) {
.buttons-frame {
bottom: 45px;
right:  29px;
width:387px;
height: 82px;
}
}
@media screen and (max-width:1026px) {
.buttons-frame {
bottom: 45px;
right:  29px;
width:387px;
height: 82px;
}
}
@media screen and (max-width:1025px) {
.buttons-frame {
bottom: 45px;
right:  10px;
width:500px;
height: 82px;
}
}
