<div class="page-width page-content">

{% if shop.locale == 'en' %}  
  <h2 style="text-align: center;">THANKS FOR APPLYING!</h2>
  <div style="text-align: center;">You will receive email confirmation shortly.</div>
  <div style="text-align: center;">The delay could take couple of minutes.</div>
  <div style="text-align: center;">If you still have not received the email, please check your junk mail.</div>

  <div class="page-width" style="text-align: center; margin-top: 35px;">
    <a style="width: 120px; margin-left: 10px; margin-right: 10px;" class="btn" href="https://www.yellowshoes.com/collections/womens">Women's</a> <a style="width: 120px; margin-left: 10px; margin-right: 10px;" class="btn" href="https://www.yellowshoes.com/collections/mens">Men's</a>
    <br /><br />
    <a style="width: 120px; margin-left: 10px; margin-right: 10px;" class="btn" href="https://www.yellowshoes.com/collections/kids">kid's</a> <a style="width: 120px; margin-left: 10px; margin-right: 10px;" class="btn" href="https://www.yellowshoes.com/pages/sale1">Sale</a>
  </div>
  {% else %}
  <h2 style="text-align: center;">MERCI DE POSTULER !</h2>
  <div style="text-align: center;">Vous recevrez un courriel de confirmation sous peu.</div>
  <div style="text-align: center;">Le retard peut prendre quelques minutes.</div>
  <div style="text-align: center;">Si vous n'avez toujours pas reçu le courriel, veuillez vérifier vos courriers indésirables.</div>

  <div class="page-width" style="text-align: center; margin-top: 35px;">
    <a style="width: 120px; margin-left: 10px; margin-right: 10px;" class="btn" href="https://www.yellowshoes.com/fr/collections/womens">Femmes</a> <a style="width: 120px; margin-left: 10px; margin-right: 10px;" class="btn" href="https://www.yellowshoes.com/fr/collections/mens">Hommes</a>
    <br /><br />
    <a style="width: 120px; margin-left: 10px; margin-right: 10px;" class="btn" href="https://www.yellowshoes.com/fr/collections/kids">Enfants</a> <a style="width: 120px; margin-left: 10px; margin-right: 10px;" class="btn" href="https://www.yellowshoes.com/fr/pages/sale1">SOLDES</a>
  </div>  
  {% endif %}  
</div>
